In [1]:
import pandas as pd

In [2]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],

          "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],

            "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

In [ ]:
#Yukarıdaki sözlük DataFrame’e dönüştürülür.

In [3]:
df = pd.DataFrame(sozluk)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [ ]:
#Yukarıdaki DataFrame için;
#2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi)
#2. indexte bulunan ürün bulunur. (Sadece ürün bilgisi)
#4.indexten 9.indexe kadar olan veriler bulunur. (Kategori,ürün,fiyat bilgisi beraber)
#1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi)

In [4]:
df[2:3][["Kategori"]]

   Kategori
2  Ayakkabı

In [5]:
df[2:3][["Ürün"]]

       Ürün
2  Sandalet

In [6]:
df[4:9][["Kategori","Ürün","Fiyat"]]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850

In [7]:
df[1:6][["Ürün"]]

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon

In [ ]:
#Yukarıdaki DataFrame için;
#Giyim kategorisinde bulunan ürünler gösterilir.
#Ayakkabı kategorisinde bulunan ürünler gösterilir.
#Aksesuar kategorisinde bulunan ürünler gösterilir.

In [8]:
giyim_df = df[df['Kategori'] == 'Giyim']
print("Giyim kategorisinde bulunan ürünler:")
print(giyim_df)

Giyim kategorisinde bulunan ürünler:
  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [9]:
ayakkabi_df = df[df['Kategori'] == 'Ayakkabı']
print("\nAyakkabı kategorisinde bulunan ürünler:")
print(ayakkabi_df)

Ayakkabı kategorisinde bulunan ürünler:
   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [10]:
aksesuar_df = df[df['Kategori'] == 'Aksesuar']
print("\nAksesuar kategorisinde bulunan ürünler:")
print(aksesuar_df)

Aksesuar kategorisinde bulunan ürünler:
   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

In [ ]:
#Yukarıdaki DataFrame için;
#Giyim kategorisinde fiyatı 300'den fazla olan ürünler gösterilir.
#Ayakkabı kategorisinde fiyatı 600'den az olan ürünler gösterilir.
#Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuar gösterilir.

In [11]:
giyim_fiyat_300den_fazla = df[(df['Kategori'] == 'Giyim') & (df['Fiyat'] > 300)]
print("Giyim kategorisinde fiyatı 300'den fazla olan ürünler:")
print(giyim_fiyat_300den_fazla)

Giyim kategorisinde fiyatı 300'den fazla olan ürünler:
  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [12]:
ayakkabi_fiyat_600den_az = df[(df['Kategori'] == 'Ayakkabı') & (df['Fiyat'] < 600)]
print("\nAyakkabı kategorisinde fiyatı 600'den az olan ürünler:")
print(ayakkabi_fiyat_600den_az)

Ayakkabı kategorisinde fiyatı 600'den az olan ürünler:
   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [13]:
aksesuar_fiyat_100den_fazla = df[(df['Kategori'] == 'Aksesuar') & (df['Fiyat'] > 100)]
print("\nAksesuar kategorisinde fiyatı 100'den fazla olan ürünler:")
print(aksesuar_fiyat_100den_fazla)

Aksesuar kategorisinde fiyatı 100'den fazla olan ürünler:
   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150